.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Card{
  background-color: darkcyan;
  border-radius: 0.5rem;
  padding: 00.5rem;
  margin: 1rem;
  box-shadow: 0.1rem 0.1rem 0.1rem black;
}

.item{
  background-color: rgb(177, 232, 27);
    border-radius: 0.5rem;
    padding: 00.5rem;
    margin: 1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem black;
}